.row
  .large-6.large-centered.columns
    .form-containers
      .form-header-container
        .row
          .large-12.columns
            .form-header
              %h1.text-center Edit account
      = render 'form'
