<% @restaurant.reviews.each do |review| %>
	<div class="row reviews-container">
		<div class="large-12 columns">

			<div class="row">
				<div class="large-12 columns comment-info">
					<% if review.user != nil %>
						<p id='commenter'><strong><%= review.user.name %></strong> on <em><%= review.created_at.strftime("%A, %B %d, %Y") %></em></p>
							<% if current_user %>
								<% if current_user.id == review.user.id || current_user.id == @restaurant.user.id %>
									<p><%= link_to "", [review.restaurant, review], :remote => true, :method => :delete, :class =>"fa fa-trash-o" %></p>
								<% else %>
									<p></p>
								<% end %>
							<% else %>
								<p></p>
							<% end %>
					<% end %>
				</div>	
			</div>

			<div class="row comment-text">
				<div class="small-11 columns">
					<p><%= review.comment %></p>
				</div>
			</div>
		

		</div>
	</div>

<% end %>