
<div class="bg-img">
<div class="row">
	<!-- back ground image here -->
		<div class="row">
			<div class="large-8 large-centered columns">
				<h1 id="discover">Discover restaurants near you</h1>
			</div>
		</div>
		<div class="large-12 columns form-index">
			 <div class="row">
		    <div class="large-8 large-centered columns">
		      <div class="row collapse">
		        <div class="small-10 columns">
		          <input type="text" placeholder="Search for restaurants">
		        </div>
		        <div class="small-2 columns">
		          <a href="#" class="button postfix">go<!-- <i class="fa fa-search">--></a> 
		        </div>
		      </div>
		    </div>
			</div>
		</div>
	</div>
</div>





 <div class="row">
      
    <div class="large-12 columns">
      

      <div class="panel index-panel">
        <div class="row">
          <% @restaurants.each do |restaurant| %>
        
            <div class="large-4 small-6 columns cs-style-4 grid">
              <figure>
                <div class="blur-img">
                	<a href=""><img src="http://4.bp.blogspot.com/-7-QoLtYvRMA/UthhyiiMGxI/AAAAAAAAOZM/GyddpyylOmU/s1600/miso+soup-+lede-1.jpg"></a>
                  <%#= link_to image_tag(picture.url), "/pictures/#{picture.id}", :class => 'index-image' %>
                </div>
                
                <figcaption>
                    <h5><%= restaurant.name %></h5>
                    <p><%#= restaurant.price_range %></p>
                    <p><%#= restaurant.rating %></p>
                    <span class="subheader"><%= link_to 'Go', restaurant_path(restaurant) %></span>
                    
                </figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      </div>
    
<div class="row">
	<div class="large-12 large-centered columns" id="res-table">

</div>
</div>
