.reservation-header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFC851;

	h1 {
		font-family: muli;
	}
	

}

.reservation-details {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;
}