.reservation-header {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #10A5FF;
	/*font-family: ;*/

}

.reservation-details {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;
}