/*this has to do with the home page*/
#app-logo {
	padding-left: 25px;

	padding-top: 15px;	
}

#app-logo > a {
	font-family: courgette;
	font-size: 30px;
	color: #4C9D00 !important;
}

.bg-img {
	width: 100%;
	height: 400px;
	/*background-color: black;*/
 background-image: url('assets/seatyourself-bg-img.jpg');
 background-repeat: no-repeat;

}
.top-bar {
		background-color: white;
		height: 70px;
		border-bottom: 1px silver solid;
}

.right-navigation-container {
	padding-right: 25px;
	background-color: white;
	padding-top: 15px;
	


	a {
		color: #4C9D00 !important;
		background-color: white !important;
		font-size: 15px !important;
		padding-left: 20px !important;
	}
	
	}

#res-table {
	width: 100%;

	margin-top: 50px;
	padding-left: 50px;
}

#discover {
	color: black;
	margin-top: 100px;
	margin-bottom: 30px;
	font-family: muli;
	font-weight: 300;
}
.form-index{
	margin-top: 30px;
	
}

.main {
	padding: 0;
	min-height: 600px;
}

.panel-container {
	padding-top: 20px;
	padding-bottom: 100px;
}


/* This handles the styling for the search form*/

.search-form > .input-bar {
	padding-right: 0 !important;
}

.search-form > .input-button {
	padding-left: 0 !important;
}

/*This is the code for the restaurant grid on the home page*/

/*.index-head {
	padding-bottom: 20px;
	padding-top: 55px;
	color: orange;
	font-family:Nobile;
	font-weight: bold;
	font-size: 27px;
}*/

/*.index-image {
	max-width: 100%;
	width: 300px;
	height: 193px ;
	display: block;
	position: relative;
	
}*/
.index-panel {
	width:90%;
	margin: 0 auto;

}
 
 .grid {
    padding: 10px 50px 20px 10px;
    max-width: 600px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
 
 .grid figure {
    display: inline-block;
    width: 300px;
    margin: 0;
    text-align: left;
    position: relative;
		x: 193px ;

    img {
    	max-width: 100%;
    	display: block;
    	position: relative;
    	border: 2px solid gray;
    }
}

figcaption {
	position: absolute;
	background: gray;
	top: 0;
	left: 0;
	margin-top: 0;
	padding-bottom: 20px;
}

figcaption h5 {
	font-size: 17px;
	color: black;
	/*height: 50px;*/
	margin:0;
	padding-left: 10px;
	padding-top: 10px;
	font-family: Muli;
	font-weight: 300;
}

.subheader {
	font-size: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: white;

	a{
		text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
	}
}

.cs-style-4 figure {
	perspective: 1700px;
	perspective-origin:0 50%;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
    overflow: hidden;
}

.cs-style-4 figure img {
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
    transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 45%;
	top: auto;
	bottom: 0;
	transform-origin: 0 0;
	backface-visibility: hidden;
	opacity: 0;
	transform: rotateY(-90deg);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
    opacity: 1;
     transform: rotateY(0deg);
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.blur-img {
  -webkit-transition: all;
     -moz-transition: all;
       -o-transition: all;
      -ms-transition: all;
          transition: all;
}
 
.blur-img:hover {
  -webkit-filter: grayscale(.4) opacity(0.9);
}

.name {
	color: white;
}

/* This is code for the restaurant show page*/


.restaurant-bg {
	background-color: white;
	margin-top: 30px;
	margin-bottom: 130px;
}

.about-restaurant {
	padding-top: 15px;
	padding-left: 10px;

}
.contact-restaurant {
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.summary-restaurant {
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}








