<div>
	<div class="search-box">
		<div>
			<h1>Discover Restaurants in your area</h1>
		</div>
		<div id="search">
			<form action='/restaurants' class="keywords" novalidate>
				<span>
					<input id= 's' name='s' placeholder="search restaurants..." type="text" >
				</span>
			</form>
		</div>
	</div>
	<nav id='categories-nav'>
		<h3>categories</h3>
	</nav>
	<div class= "categories">
		<div class = "cuisine">
			<h3>Asian</h3>
		</div>
		<div class = "cuisine">
			<h3>African</h3>
		</div>
		<div class = "cuisine">
			<h3>Caribbean</h3>
		</div>
		<div class = "cuisine">
			<h3>European</h3>
		</div>
		<div class = "cuisine">
			<h3>Middle Eastern</h3>
		</div>
		<div class = "cuisine">
			<h3>South American</h3>
		</div>
		<div class = "cuisine">
			<h3>Western</h3>
		</div>
		<div class = "cuisine">
			<h3>Veg</h3>
		</div>
	</div>
</div>


