<div>
	<div class="search-box">
		<div>
			<h1>Discover Restaurants in your area</h1>
		</div>
		<div id="search">
			<form action='/restaurants' class="keywords" novalidate>
				<span>
					<input id= 's' name='s' placeholder="search restaurants..." type="text" >
				</span>
			</form>
		</div>
	</div>
	<nav id='categories-nav'>
		<h3>categories</h3>
	</nav>
	<div class= "categories">
		<% @categories.each do |c| %>
		<div class = "cuisine">
			<h3><%= link_to c.cuisine, category_restaurants_path(c)%></h3>
		</div>
			
		<% end %>
	</div>
</div>


